@import '~@carbon/themes/scss/mixins';
@import '~@carbon/ibm-security/scss/components/Card/index';
@import '~@carbon/ibm-security/scss/components/StatusIcon/index';

.ms-list {
  display: flex;
  flex-direction: row;
}

.ms-list-item {
  padding: $spacing-05 $spacing-05 0 0;
  width: min-content;
}
